.row
    =CHtml::activeLabel($model,'info[name]',array('label'=>'Nazwa'))
    =CHtml::activeTextField($model,'info[name]')
    =CHtml::error($model,'info[name]')
.row
    =CHtml::activeLabel($model,'info[description]',array('label'=>'Opis'))
    =CHtml::activeTextArea($model,'info[description]')
    =CHtml::error($model,'info[description]')