=CHtml::beginForm();
-if(isset($backUrl))
    =CHtml::link('Undo',array($backUrl),array('class'=>'back-button'))
=CHtml::hiddenField('backUrl',$currentUrl)
.row.buttons
    =CHtml::checkBoxList('type',$type,array('Route'=>'Route','Place'=>'Place','Area'=>'Area'),array('separator'=>''));
-foreach($models as $mtype=>$model)
    -$allCategories = DataExchange::module()->{"allCategory$mtype"}
    -if(count($allCategories)>0)
        .row
            =CHtml::activeDropDownList($model,'category',CHtml::listData($allCategories,'id','name'));
    :php
        if(isset($filters[$mtype]))
        {
            foreach($filters[$mtype] as $filter){
                $this->widget(Yii::app()->filters->resolveClass($filter->class),CMap::mergeArray(array('model'=>$model,'attribute'=>$filter->attribute,'name'=>$filter->name)
                    ,$filter->options));
            }
        }
=CHtml::endForm();
