.filter.#{$this->slideEnable?'slide':''}
    -if($this->slideEnable)
        =CHtml::hiddenField($this->inputId,$this->slide,array('class'=>'slide-value'))
    .name =$this->name
    .content.#{$this->slideEnable&&$this->slide==0?'slideUp':''}
        = CHtml::activeRadioButtonList($this->model,$this->attribute,$this->data,$this->htmlOptions);